h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: plum;
    font: size 25px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}
li {
    font-family: monospace;
    color: plum;
}