.you {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.you:hover {
    color: slateblue;
    font-size: 250px
}
.have {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.have:hover {
    color: palevioletred;
    font-size: 250px; 
}
.so {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.so:hover {
    color: peachpuff;
    font-size: 250px;
}
.much {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.much:hover {
    color: rosybrown;
    font-size: 250px;
}
.yet {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.yet:hover {
    color: lightgoldenrodyellow;
    font-size: 250px;
}
.youu {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.youu:hover {
    color: rgb(139, 65, 65);
    font-size: 250px;
}
.are {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.are:hover {
    color: lightskyblue;
    font-size: 250px;
}
.always {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.always:hover {
    color: lightsalmon;
    font-size: 250px;
}
.hungry {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.hungry:hover {
    color: blueviolet;
    font-size: 250px;
}
.for { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.for:hover {
    color: darkslategrey;
    font-size: 250px;
}
.more {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.more:hover {
    color: green;
    font-size: 250px;
}
.the {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.the:hover {
    color: violet;
    font-size: 250px;
}
.trick {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.trick:hover {
    color: sienna;
    font-size: 250px;
}
.to {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.to:hover {
    color: skyblue;
    font-size: 250px;
}
.being { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.being:hover {
    color: springgreen;
    font-size: 250px;
}
.well {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.well:hover {
    color: lavenderblush;
    font-size: 250px;
}
.fed {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fed:hover {
    color: tomato;
    font-size: 250px;
}
.is { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.is:hover {
    color: brown;
    font-size: 250px;
}
.youuu {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.youuu:hover {
    color: rosybrown;
    font-size: 250px;
}
.havee {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.havee:hover {
    color: blue;
    font-size: 250px;
}
.too { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.too:hover {
    color: rgb(247, 164, 39);
    font-size: 250px;
}
.stop {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stop:hover {
    color: khaki;
    font-size: 250px;
}
.looking { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.looking:hover {
    color: rosybrown;
    font-size: 250px;
}
.up {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.up:hover {
    color: crimson;
    font-size: 250px;
}
.at {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.at:hover {
    color: cyan;
    font-size: 250px;
}
.everything { 
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.everything:hover {
    color: darkturquoise;
    font-size: 250px;
}
.youuuu {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.youuuu:hover {
    color: chocolate;
    font-size: 250px;
}
.dont {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.dont:hover {
    color: cornflowerblue;
    font-size: 250px;
}
.haveee {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.haveee.havee {
    color: mediumorchid;
    font-size: 250px;
}
.and {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.and:hover {
    color: mistyrose;
    font-size: 250px;
}
.look {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.look:hover {
    color: palegreen;
    font-size: 250px;
}
.around {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.around:hover {
    color: palevioletred;
    font-size: 250px;
}
.att {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.att:hover {
    color: purple;
    font-size: 250px;
}
.everythingg {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.everythingg:hover {
    color: powderblue;
    font-size: 250px;
}
.youuuuu {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.youuuuu:hover {
    color: moccasin;
    font-size: 250px;
}
.do {
    margin-left: 100px;
    margin: 100px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.do:hover {
    color: thistle;
    font-size: 250px;
}
