
.btn1 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn2 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn3 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn4 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn5 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn6 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn7 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn8 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn9 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn10 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn11 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn12 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn13 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn14 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn15 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn16 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn17 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn18 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn19 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn20 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn21 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn22 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn23 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn24 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn25 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn26 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn27 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn28 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn29 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn30 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn31 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn32 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn33 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn34 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn35 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}
.btn36 {
    margin: 100px auto;
    border-radius: 50%;
    background-color: papayawhip;
}


