.you {
	margin-top:500px;
	display:block;
	position:fixed;
	float:right;
	margin-left:20px;
}

.have {
	margin-top:470px;
	display:block;
	position:fixed;
	float:right;
	margin-left:30px;
}

.so {
	margin-top:440px;
	display:block;
	position:fixed;
	float:right;
	margin-left:40px;
}

.much {
	margin-top:410px;
	display:block;
	position:fixed;
	float:right;
	margin-left:50px;
}

.yet {
	margin-top:380px;
	display:block;
	position:fixed;
	float:right;
	margin-left:60px;
}

.youu {
	margin-top:350px;
	display:block;
	position:fixed;
	float:right;
	margin-left:70px;
}

.are {
	margin-top:320px;
	display:block;
	position:fixed;
	float:right;
	margin-left:80px;
}

.always {
	margin-top:290px;
	display:block;
	position:fixed;
	float:right;
	margin-left:90px;
}

.hungry {
	margin-top:320px;
	display:block;
	position:fixed;
	float:right;
	margin-left:110px;
}

.for {
	margin-top:350px;
	display:block;
	position:fixed;
	float:right;
	margin-left:120px;
}

.more {
	margin-top:380px;
	display:block;
	position:fixed;
	float:right;
	margin-left:130px;
}

.the {
	margin-top:410px;
	display:block;
	position:fixed;
	float:right;
	margin-left:140px;
}

.trick {
	margin-top:440px;
	display:block;
	position:fixed;
	float:right;
	margin-left:150px;
}


.to {
	margin-top:470px;
	display:block;
	position:fixed;
	float:right;
	margin-left:160px;
}

.being {
	margin-top:500px;
	display:block;
	position:fixed;
	float:right;
	margin-left:170px;
}

.well {
	margin-top:530px;
	display:block;
	position:fixed;
	float:right;
	margin-left:180px;
}

.fed {
	margin-top:560px;
	display:block;
	position:fixed;
	float:right;
	margin-left:190px;
}

.is {
	margin-top:590px;
	display:block;
	position:fixed;
	float:right;
	margin-left:200px;
}

.youuu {
	margin-top:620px;
	display:block;
	position:fixed;
	float:right;
	margin-left:210px;
}

.havee {
	margin-top:650px;
	display:block;
	position:fixed;
	float:right;
	margin-left:220px;
}

.too {
	margin-top:680px;
	display:block;
	position:fixed;
	float:right;
	margin-left:230px;
}

.stop {
	margin-top:710px;
	display:block;
	position:fixed;
	float:right;
	margin-left:240px;
}

.looking {
	margin-top:740px;
	display:block;
	position:fixed;
	float:right;
	margin-left:250px;
}

.up {
	margin-top:700px;
	display:block;
	position:fixed;
	float:right;
	margin-left:290px;
}

.at {
	margin-top:670px;
	display:block;
	position:fixed;
	float:right;
	margin-left:300px;
}

.everything {
	margin-top:640px;
	display:block;
	position:fixed;
	float:right;
	margin-left:310px;
}

.youuuu {
	margin-top:610px;
	display:block;
	position:fixed;
	float:right;
	margin-left:320px;
}

.dont {
	margin-top:580px;
	display:block;
	position:fixed;
	float:right;
	margin-left:330px;
}

.haveee {
	margin-top:550px;
	display:block;
	position:fixed;
	float:right;
	margin-left:340px;
}

.and {
	margin-top:520px;
	display:block;
	position:fixed;
	float:right;
	margin-left:350px;
}

.look {
	margin-top:490px;
	display:block;
	position:fixed;
	float:right;
	margin-left:360px;
}

.around {
	margin-top:460px;
	display:block;
	position:fixed;
	float:right;
	margin-left:370px;
}

.att {
	margin-top:430px;
	display:block;
	position:fixed;
	float:right;
	margin-left:380px;
}

.everythingg {
	margin-top:400px;
	display:block;
	position:fixed;
	float:right;
	margin-left:390px;
}

.youuuuu {
	margin-top:430px;
	display:block;
	position:fixed;
	float:right;
	margin-left:450px;
}

.do {
	margin-top:460px;
	display:block;
	position:fixed;
	float:right;
	margin-left:460px;
}
