.navbar {
    overflow: hidden;
    background-color: #faf175;
    font-family: Arial;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: papayawhip;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.you {
    font-size: 100px;
    color: rgb(217, 151, 255);
    background-color: #992cff;
    font-family: monospace;
    font-weight: 300px;
    padding-left: 100px;
    padding-right: 100px;
}
.always {
    font-size: 125px;
    color: hotpink;
    font-weight: 600;
    font-family: monospace;
    background-color: #992cff;
    padding-left: 100px;
    padding-right: 100px;
}
.well {
    font-size: 125px;
    color: hotpink;
    font-weight: 600;
    font-family: monospace;
    background-color: #992cff;
    padding-left: 100px;
    padding-right: 100px;

}
.everything {
    font-size: 125px;
    color: hotpink;
    font-weight: 600;
    font-family: monospace;
    background-color: #992cff;
    padding-left: 100px;
    padding-right: 100px;
}
.everythingg {
    font-size: 125px;
    color: hotpink;
    font-weight: 600;
    font-family: monospace;
    background-color: #992cff;
    padding-left: 100px;
    padding-right: 100px;
}