.navbar {
    overflow: hidden;
    background-color: #faf175;
    font-family: Arial;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: papayawhip;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

p {
	padding-left:700px;
}



h1{
	margin:50px;
	height:100%;
	top:100%;
}



h2 {
	padding-left: 700px;
	letter-spacing: 2px;
}

h3 {
	padding-left: 700px;
	letter-spacing: 2px;
}

h4{
	padding-left: 160px;
	letter-spacing: 2px;
}

h5{
	padding-left: 200px;
	letter-spacing: 2px;
}

h6{
	padding-left: 250px;
	letter-spacing: 2px;
}