.navbar {
   overflow: hidden;
   background-color: #faf175;
   font-family: Arial;
 }
 
 .navbar a {
   float: right;
   font-size: 16px;
   color: violet;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

.you {
   margin: 100px auto ;
   margin-left: 200px;
   background-color: turquoise;
}

.trick {
margin: 100px auto;
margin-left: 400px;
background-color: violet;
}
.have {
   margin: 100px auto;
margin-left: 800px;
background-color: goldenrod;
}
.dontt {
   margin: 100px auto;
margin-left: 150px;
background-color: honeydew;
}
.everything {
   margin: 100px auto;
margin-left: 500px;
background-color: cornflowerblue;
}