html {
    background-color:lightgoldenrodyellow;
  }
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:lightsalmon;
    font-size: 30px;
    padding-left: 50px;
}
ol {
    padding: 100px;
    color: lightsalmon;
    
}
li1 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 15px;

}
li2 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 20px;
    
}
li3 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 25px;
    
}
li4 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 30px;
}
li5 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 35px;
}
li6 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 40px;
}
li7 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 45px;
}
li8 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 50px;
}
li9 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 55px;
}
li10 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 50px;
}
li11 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 55px;
}
li12 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 45px;
}
li13 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 40px;
}
li14 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 35px;
}
li15 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 30px;
}
li16 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 25px;
}
li17 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 20px;
}
li18 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 15px;
}
li19 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 55px;
}
li20 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 50px;
}
li21 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 45px;
}
li22 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 40px;
}
li23 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 35px;
}
li24 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 30px;
}
li25 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightsalmon;
    font-size: 25px;
}