.text {
    transform: rotate(90deg);
    float: left;
    margin-top: 180px;
    line-height: 100px;
    padding-bottom: 40px;
    font-size: 30px;
    color: maroon;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}