.navbar {
    overflow: hidden;
    background-color: #faf175;
    font-family: Arial;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: papayawhip;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.index {
	font-family:sans-serif;
	font-size:14px;
	color:#faf175;
	letter-spacing: 4px;
	text-align:center;
	position:fixed;
	margin-left: 80%;
}
a:visited {
	color: #faf175;
}

a:link {
	color: #faf175;
}

a:hover {
	color:#83d8fa;
}
.text {
	font-size:500px;
	font-family:monospace;
	line-height: 700px;
	text-align: center;
}